<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <div
      class="flex flex-col items-center justify-center min-h-screen bg-gray-100"
    >
      <h1 class="text-4xl font-bold text-orange-600 mb-4">
        <%- editing ? 'Edit' : 'Add' %> a New House</h1>        
          <form action="/<%= editing ? "edit-home" : "add-home" %>" method="post" enctype="multipart/form-data" class="flex flex-col items-center">
            <input type="hidden" name="id" value="<%= editing ? home._id : '' %>">
          <input
            type="text"
            name="houseName"
            value="<%= editing ? home.houseName : '' %>"
            placeholder="Name of House"           
            class="px-4 py-2 border border-gray-300 rounded mb-4"
          />
          <input
            type="text"
            name="price"
            value="<%= editing ? home.price : '' %>"
            placeholder="Price of House"          
            class="px-4 py-2 border border-gray-300 rounded mb-4"
          />
          <input
            type="text"
            name="location"
            value="<%= editing ? home.location : '' %>"
            placeholder="Location of House"
            class="px-4 py-2 border border-gray-300 rounded mb-4"
          />
          <input
            type="text"
            name="rating"
            value="<%= editing ? home.rating : '' %>"
            placeholder="Rating of House"          
            class="px-4 py-2 border border-gray-300 rounded mb-4"
          />
          <input
            type="file"
            name="photo"
            class="px-4 py-2 border border-gray-300 rounded mb-4"
          />
          <textarea
          name="description"
          placeholder="Describe your house"
          class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
          rows="4"
        ><%= editing ? home.description : 'Enter description' %></textarea>
          <input
            type="submit"
            value="<%= editing ? 'Update House' : 'Add House' %>"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300"
          />
        </form>
        
    </div>
  </body>
</html>
